/* Desktop browser CSS rules */

/*
======================
==Universal Elements==
======================
*/

  #kmw_controls{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }

  #kmw_btn_osk{
    border-top-right-radius: 10px;
  }

  #kmw_controls_start{
    border-top-left-radius: 10px;
  }

textarea {
  height:260px;
  width:554px;
  float:left;
  margin: 0px 10px 10px;
  color:black;
  font-size:16px;
  font-family:SindhiWeb,Verdana,GeezWeb,LaoWeb,TibetanWeb,MyanmarWeb,SinhalaWeb,TamilWeb,KhmerWeb,LatinWeb,OriyaWeb,EgyptianWeb !important;
  }

form {
  padding-right:10px;
  float:left;
  }
#messageContainer {
  float:left;
  width:80%;
}
/*
======================
==Keyboard Examples==
======================
*/

#example,#help {
  margin: 5px 0px;
  text-align: center;
}

#example {
  visibility: hidden;
  width: 100%;
  min-height: 10px;
  max-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#example a {
  padding-left: 10px;
}

.highlightKeys kbd {
    border: solid 1px #808080;
    border-radius: 4px;
    background: #cccccf;
    color: black;
    font-family: Verdana;
    font-weight: normal;
    min-width: 16px;
    display: inline-block;
    box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.3);
    margin-right: 4px;
}

.highlightKeys kbd.space {
    min-width: 64px;
}

/*
======================
==Keyboard Styling==
======================
*/
.desktop, .kmw-osk-frame {
  display: block !important;
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 0;
}

.kmw-help-osk-frame {
  height: 100% !important;
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  text-align: center !important;
}

.kmw-osk-static {
  height: fit-content !important;
  text-align: center !important;
  border: solid 1px var(--keyman-blue) !important;
}

.kmw-osk-static table {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

#kmw-osk-help-page > table > tbody > tr > td > .row {
  --bs-gutter-x: 0 !important;
}

.kmw-title-bar { 
  background-color: #2EADD3 !important; 
  border-radius: 0 !important;
  height: fit-content !important;
}

#keyboard_europeanlatin_help p, .kmw-osk-static p {
  display: flex !important;
  justify-content: end !important;
  position: relative !important;
  right: 0 !important;
  top: 0 !important;
}

.kmw-key-square {
  z-index: 0 !important;
}

.kmw-spacebar-caption {
  color: gray !important;
}

.desktop .kmw-osk-frame, .desktop .kmw-osk-inner-frame, .desktop .kmw-key-layer-group {
    background-color: #95C6D6 !important;
}

.desktop .kmw-key-default {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #EEEFF0), color-stop(100%, #D3D3D9));
    background-image: -moz-linear-gradient(#EEEFF0,#D3D3D9);
    background-color: #E0E0E4;
}

.desktop .kmw-key-touched {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #B5B5B5), color-stop(100%, #93969B));
    background-image: -moz-linear-gradient(#B5B5B5, #93969B) !important;
    background-color: #B5B5B5;
 }

.desktop .kmw-key-shift{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #DBDBDB), color-stop(100%, #C0C0C4));
    background-image: -moz-linear-gradient(#DBDBDB, #C0C0C4) !important;
    background-color: #DBDBDB;
}

 .desktop .kmw-key-shift-on {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #B5B5B5), color-stop(100%, #93969B));
    background-image: -moz-linear-gradient(#B5B5B5, #93969B) !important;
    background-color: #93969B;
 }

 .desktop  .kmw-key-shift .kmw-key-text, .desktop  .kmw-key-shift-on .kmw-key-text { color: gray; font-size: 0.9em !important; text-shadow: 0 1px 1px #fff;}
 .desktop  .kmw-key-shift .kmw-key-text, .desktop  .kmw-key-shift-on .kmw-key-text { top: 10%; }
 .desktop  .kmw-key-label { top: 5%; }
 .desktop  .kmw-key-label { left: 10%; }
 .desktop  .kmw-key-default .kmw-key-text { top: 25%; }
 .desktop  .kmw-footer, .desktop .kmw-title-bar { background-color: #2EADD3 !important; display: none;}
 .desktop  .kmw-title-bar div{min-height: 100%;}
 .desktop  .kmw-footer-caption a { color: white !important; }
 .kmw-osk-frame, .kmw-osk-inner-frame { border-color: #2EADD3 !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-width: 2px !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-radius: 6px !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-color: #95C6D6 !important; }
 .kmw-key-default { border-width: 2px !important; }
 .kmw-key-default { border-radius: 6px !important; }
 .kmw-key-default { border-color: #95C6D6 !important; }
 .kmw-key-label { color: #2EADD3 !important; }
 .kmw-key-label { top: 10% !important; }
 .kmw-key-label { left: 15% !important; }
 .kmw-key-default {
    color: #313149;
 }

#keymandesktop p {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 1320px) {
  ins.adsbygoogle {
      display: inline-block !important;
      height: 600px;
      position: absolute;
      right: 16px;
      top: 120px;
      width: 160px;
  }
}

.desktop .kmw-keyboard-dari_clra .kmw-key-default .kmw-key-text {
  top: -33%;
}
