/* KMW LIVE CSS for iPhone and other mobiles */

/*
======================
==Universal Elements==
======================
*/

:root {
  --mobile-font-size: 12px;
  --mobile-search-max-width: 250px;
  --mobile-search-min-width: 50px;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width:100%;height:100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#2D2C2C;
  background-color: #eeeeee;
  margin:0px;
  }

a {
  text-decoration:none;
  color: #AD4A28;
  }

a:hover {
  text-decoration:underline;
  }

h3 {
  font-size:18px;
  }

p {
  font-size:13px;
  line-height:1.5em;
  }

/*
====================
==Content Elements==
====================
*/

/* KMW Main App */
#app {
  width: 100%;
  margin: 0px;
}

#KeymanWebControl {
  display: none;
}

#exampleBox, #example {
  display: none;
}

.main-header {
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.left-header {
  width: 70vw; 
}

.left-header img {
  display: none;
}

.right-header {
  grid-template-columns: 50% 50%;
}

.right-header {
  width: 30vw;
}

/* 
Language Search box
*/

#searchBar {
  width: 50%;
}

#searchInput:focus, #searchDropdownMenu, #keyboardSelection:active {
  width: var(--mobile-search-max-width) !important;
}

#textArea {
  height: 45vh !important;
}

.mobile-font-size-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 50px;
  top: 80px;
  width: 150px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

/* Additional rules for portrait orientation */
@media only screen and (orientation: portrait) {

  #message {
    height: 170px;
    }

  #messageContainer {
    float: left;
    width: 80%;
    height: 40%;
    }
}

/* Additional rules for landscape orientation */
@media only screen and (orientation: landscape) {

  #messageContainer {
    float: left;
    width: 85%;
    height: 50%;
    }
  #message {
    height: 50%;
    }
  #buttons {
    margin: 4px 15px 4px 0;
  }
  #font {
    display: none;
  }
}

/*
======================
==Keyboard Styling==
======================
*/

#kmw-language-menu p {
  color: #000 !important;
}

#kmw-language-menu .selected {
  background-color: gray !important;
}

.phone .kmw-keyboard-dari_clra .kmw-key-default .kmw-key-text {
  top: -33%;
  font-size: 0.8em !important;
}
