/* KMW LIVE CSS for iPad and other tablet devices */

/*
======================
==Universal Elements==
======================
*/

body {
  width:100%;
  height:100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#2D2C2C;
  background-color: #eeeeee;
  margin:0px;
}

a {
  text-decoration:none;
  color: #AD4A28;
}

a:hover {
  text-decoration:underline;
}

h3 {
  font-size:18px;
  }

p {
  font-size:13px;
  line-height:1.5em;
  }

header, footer {
  width:100%;
  margin:0px auto;
  /*clear: both;*/
  }

.box {
  -webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }

.container-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
==========
==Header==
==========
*/
.main-header {
  width: 100%;
  grid-template-columns: 3fr 1fr;
}

.right-header {
  grid-template-columns: 70% 30%;
}

#searchDropdownMenu {
  width: 50vw;
}

.burger-menu-external-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  list-style-type: none;
}

/*
==================
==Tool Container==
==================
*/
.tool-menu button {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  opacity: 50%;
  padding: 0 10px;
}

.tool-menu button:hover {
  opacity: 100%;
}

.tool-menu .dropdown-menu {
  width: 25vw;
  right: 30px;
}

.tool-menu .dropdown-menu > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.tool-menu .dropdown-menu > div:hover {
  color: var(--keyman-blue);
  cursor: pointer;
}

#copyTool {
  top: 110px;
}

.copy-container span, .eraser-container span, .expand-container span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.copy-container span p, .eraser-container span p, .expand-container span p {
  margin: 0;
}
/*
=========================
==Section/Body Elements==
=========================
*/
.example-box {
  display: block;
  width: 100vw;
  height: 7vh;
  user-select: none;
  align-items: center;
  position: sticky;
  background-color: var(--tablet--kb-bg-color);
}

.left-divider {
  display: none;
}

.right-divider {
  display: none;
}

.tablet.kmw-osk-frame {
  display: block !important;
  position: absolute !important;
  z-index: 1 !important;
  height: 100% !important;
  width: 100% !important;
}

/* Keyboard */
.keyboard-container {
  display: flex;
  width: 100%;
}

.keyboard-area {
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  transition: transform 0.2s ease-out !important;
  transform: translateY(0) !important;
}

.keyboard-area.hidden {
  transform: translateY(100%) !important;
}

/* Additional rules for portrait orientation */
@media only screen and (orientation: portrait) {
  #app {
    width: 97%;
    }

  #message {
    height: 350px;
    }

  #messageContainer {
    width: 100%;
    }

  #buttons {
    clear:both;
    width: 90%;
    }

  #buttons div {
    display: inline-block;
    margin: 10px 10px 0;
    width: 130px;
    height: 40px;
    }

  #font{
    position: relative;
    top: 4px;
  }

  #font span:first-child{
    margin-left: 3px;
  }

  #font p{
    margin-left: 8px;
    position: relative;
    top: -4px;
  }

  #mobile-font{
    display: none;
    width: 301px;
    position: absolute;
    left: 50%;
    top: 452px;
    margin-left: -155px;
    text-align: center;
    font-size: 24pt;
  }

  #mobile-increase{
    float: right;
    width: 136px;
    height: 53px;
    line-height: 53px;
    background: #fff;
    border: 1px solid #888888;
    border-radius: 4px;
  }

  #mobile-decrease{
    float: right;
    width: 136px;
    height: 53px;
    line-height: 53px;
    background: #fff;
    border: 1px solid #888888;
    margin-right: 25px;
    border-radius: 4px;
  }
}

@media only screen and (orientation: landscape) { 
  body {
    overflow: auto;
  }
}

/*
======================
==Keyboard Styling==
======================
*/

#kmw-language-menu p {
  color: #000 !important;
}

#kmw-language-menu .selected {
  background-color: gray !important;
}

.tablet .kmw-keyboard-dari_clra .kmw-key-default .kmw-key-text {
  top: -33%;
}
