:root {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --keyman-orange: #FC7200;
  --keyman-red: #B92034;
  --keyman-blue: #2EADD3;
}

* {
  letter-spacing: .05rem;
  font-weight: 400;
}

hr {
  margin: 0;
}

header > div > img {
  width: 100%;
  display: block;
  height: 8px;
}

#languageSearchDropdown {
  padding: 10px;
  margin: 0;
}

.main-header {
  display: grid;
  height: 75px;
  padding: 10px;
  background-color: white;
  box-shadow: var(--box-shadow);
}

/* Left side of Header:
        Search
        Keyboard dropdown
*/

.left-header {
  display: flex;
  align-items: center;
}

/* 
Language Search box
*/
.form {
  position: relative;
  width: 550px;
  margin-right: 10px;
}

.info-icon-span {
  position: absolute;
  right: 5px;
  top: 12px;
  border-left: 1px solid gray;
}

.info-icon-span > * {
  margin-right: 10px;
  padding-left: 15px;
  opacity: 50%;
}

.info-icon-span > *:hover {
  padding-left: 15px;
  opacity: 100%;
}

.search-icon {
  display: inline;
}

.clear-icon {
  display: none;
}

.form #mainSearchBtn {
  height: 50px;
  width: 100%;
  text-indent: 10px;
  border-radius: 15px;
  text-align: left;
  background-color: rgb(233, 228, 228);
}

#mainSearchBtn:focus {
  background-color: white;
}

#languageSearchDropdown {
  width: 100%;
  max-height: 600px;
  overflow: auto;
}

/* Instruction on dropdown */
.search-instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.search-instruction:hover {
  box-shadow: none;
  cursor: default;
}

/* Map and Most download */
.left-header .dropdown-menu .top-row #worldMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px !important;
}

#worldMap span {
  opacity: 50%;
}

#worldMap span:hover {
  opacity: 100%;
  cursor: pointer;
}

#KeymanWebControl #kmw_controls
{
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  height: 35px;
  padding: 5px;
}

#KeymanWebControl .kmw_button,
#keymanWebControl .kmw_button_disabled, 
#KeymanWebControl .kmw_button_selected
{
  width: fit-content !important;
  background: none !important;
  height: 0 !important;
}

#KeymanWebControl #kmw_controls_start, 
#KeymanWebControl #kmw_btn_osk, 
.kmw_bar, #kmw_controls_end {
  display: none;
}

#KeymanWebControl .kmw_language {
  padding: 3px;
}

#kmw_control_keyboards {
  width: fit-content;
}

#kmw_selector_regions {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.kmw_selector_region {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  height: 600px;
}

/* Search Dropdown cards */
#languageSearchList > * {
  margin-bottom: 5px;
}

#languageSearchList > div:hover {
  border: 1px solid var(--keyman-orange);
  margin: 3px;
}

.card-wrap {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: .05rem;
  overflow: hidden;
  margin-bottom: 5px;
}

.card-wrap.disabled {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.card-wrap.disabled .kb-icon-plus {
  pointer-events: auto;
  opacity: 1;
  position: absolute;
  right: 15px;
  z-index: 1;
}

.kb-icon-plus {
  transition: 0.5s ease;
}

.kb-icon-plus.animate {
  color: green;
}

.keyboard-id {
  font-size: 12px;
  margin-bottom: 10px;
  color: #006622;
}

.card-wrap h6 {
  opacity: 75%;
  font-size: 12px;
  margin: 0 0 0.35rem;
}

.keyboard-description {
  color: gray;
}

.keyboard-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keyboard-specs .platform {
  display: flex;
  flex-direction: row;
}

.keyboard-specs .platform span {
  font-size: 0px;
  width: 15px;
  height: 20px;
  margin: 0;
}

.card-wrap .monthly-download {
  opacity: 75%;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-header h4 {
  color: #0000EE;
  font-weight: 400;
  font-size: large;
  margin: 0;
}

.card-header h4 span {
  color: black;
}

.card-header p {
  margin: 0;
  position: relative;
  float: right;
  font-weight: 200;
  font-size: medium;
  color:  var(--keyman-red);
}

/* Pagination */
#languageSearchDropdown .bottom-row-search {
  background-color: white;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 10px;
  width: 100%;
  bottom: 0;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.bottom-row-search > * {
  margin: 10px;
  cursor: pointer;
}

/* Selected Keyboard Menu */
.scroll-wrapper-keyboard-tab {
  width: 300px;
  height: 38px;
  overflow: hidden;
  position: relative;
}

#keyboardSelectionButton {
  z-index: 1;
}

#keyboardSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 0;
  height: 100%;
  background-color: var(--keyman-orange);
  color: white;
  opacity: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all .5s ease-in-out;
  scrollbar-width: none;
  margin-left: -7px;
  border-radius: 10px;
  z-index: 0;
  white-space: nowrap;
}

#keyboardSelection > * {
  margin: 5px;
  padding: 5px;
}

#keyboardSelection:target {
  width: 500px;
}

.kb-item {
  width: 200px;
}

.kb-item:target {
  border-right: 1px solid black;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #2c7be5;
  border-radius: 6px;
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

#keyboardSelectionList {
  display: grid;
  width: 100%;
}

#keyboardSelectionList ul {
  width: 100%;
}

#keyboardSelectionList p {
  text-align: center;
}

.btn-keyman-orange {
  background-color: var(--keyman-orange) !important;
  color: white !important;
}

#keyboardDetails {
  width: 500px;
}

.keyboard-content {
  width: max-content;
}

#keyboardContent > * {
  margin: 5px 0px;
}

#removeLanguage {
  cursor: pointer;
}

.platform span {
  background-repeat: no-repeat;
  padding-left: 24px;
  background-size: 18px;
  display: block;
  margin: 4px 0;
}

.platform span:hover {
  cursor: help;
}

.platform .platform-windows {
  background-image: url('/cdn/dev/img/platforms/icon-windows.png');
}

.platform .platform-macos {
  background-image: url('/cdn/dev/img/platforms/icon-macos.png');
}

.platform .platform-linux {
  background-image: url('/cdn/dev/img/platforms/icon-linux.png');
}

.platform .platform-android {
  background-image: url('/cdn/dev/img/platforms/icon-android.png');
}

.platform .platform-ios {
  background-image: url('/cdn/dev/img/platforms/icon-ios.png');
}

.platform .platform-desktopweb {
  background-image: url('/cdn/dev/img/platforms/icon-desktopWeb.png');
}

.platform .platform-mobileweb {
  background-image: url('/cdn/dev/img/platforms/icon-mobileWeb.png');
}

/* Middle of the header:

*/

.middle-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-header i, .right-header i {
  font-size: 24px;
  opacity: 50%;
}

.middle-header i:hover {
  opacity: 100%;
  cursor: pointer;
  color: var(--keyman-red);
}

/* Right side of the header:
      Tools
      Hamburger menu
*/

.right-header {
  display: grid;
  grid-template-columns: 90% 10%;
  width: 350px;
  justify-items: center;
  align-items: center;
}

.right-header i:hover {
  opacity: 100%;
  cursor: pointer;
  color: var(--keyman-blue);
}

/* Font size slider + Hide/show keyboard */
.tool-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tool-container > * {
  margin: 10px;
}

.font-size-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.font-size-slider {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 60px;
}

#fontSizeRange[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}


.font-large {
  font-size: 20px;
}

input[type="range"] {
  width: 100px;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: rgb(107, 107, 107);
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 6px;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
}

#fontSizeRange[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  transform: 0.2s;
  box-shadow: var(--box-shadow);
  background: gray;
  border-radius: 25px;
}

#fontSizeRange[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 20px;
  border-radius: 7px;
  background: var(--keyman-blue);
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0px 5px rgb(143, 143, 143);
  margin-top: 3px;
}

#burgerMenu ul {
  box-shadow: var(--box-shadow);
}

#burgerMenu ul:hover {
  cursor: pointer;
}

.dropdown-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#burgerMenu ul li {
  align-items: center;
  width: 300px;
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-top: 10px;
}

#burgerMenu ul li::after {
  background-color: orange;
}

#burgerMenu ul li p:hover {
  opacity: 100%;
}

#burgerMenu ul li p {
  width: 90%;
  white-space: normal;
  position: relative;
  left: 40px;
  font-size: 14px;
  opacity: 50%;
  margin-top: 10px;
}

#burgerMenu ul li a {
  text-decoration: none;
  color: black;
  font-style: bold;
  font-size: 16px;
}

#burgerMenu ul li i,  #burgerMenu ul li img {
  margin: 0 10px;
  font-size: 16px;
  width: 18px;
  opacity: 100%;
  color: var(--keyman-orange)
}

#burgerMenu button i:hover {
  cursor: pointer;
}

.kmw-socials, .kmw-version, .sil-logo {
  font-size: 14px;
}

.kmw-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.kmw-socials-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.kmw-socials-icons > a {
  text-decoration: none;
  color: black;
  opacity: 50%;
  position: relative;
}

.kmw-socials-icons > a:hover {
  opacity: 100%;
}

@font-face {
  font-family: "social-logos";
  src: url("../../fonts/social-logos.ttf"),
        url("social-logos.woff2") format("woff2"),
        url("social-logos.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "social-logos" !important;
  content: attr(data-icon);
  padding-right: 4px;
}

.kmw-version {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sil-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================================
    Computer, Laptop, some Tablet screen sizes
================================ */ 
@media screen and (min-width: 1045px) {
  .main-header {
    grid-template-columns: 3fr 1fr 1fr;
  }
}

/* Expanding the search box  */ 
@media screen and (940px <= width <= 1045px) {
  .main-header {
    grid-template-columns: 4fr 1fr 1fr;
  }
}

/* ================================
    Most Tablet to Phone sizes
================================ */ 

@media screen and (max-width: 940px) {
  .main-header {
    grid-template-columns: 4fr 1fr;
  }

  .left-header {
    align-items: center;
    justify-content: left;
    align-items: center;
  }

  .left-header img {
    display: none;
  }

  /* 
  Language Search box
  */

  .form {
    width: 50%;
  }
}

@media screen and (max-width: 565px) {
  #languageSearchDropdown {
    width: 300px !important;
  }

  #keyboardSelection {
    max-width: 300px !important;
  }

  #keyboardTab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #keyboardTab > * {
    margin-bottom: 10px;
  }
}

/* Animation */

.keyboardTab-animation {
  animation: keyboardTab 1s;
}
.keyboardSelection-animation {
  animation: keyboardSelection 1s ease-in;
}

@keyframes keyboardSelection {
  0% {
    transform: translateY(-5px);
  }
  50% {
      transform: translateY(-3px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes keyboardTab {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}