* {
    box-sizing: border-box;
}

:root {
    --textarea-box: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset
}

body {
    background-color: #F6F6F6;
    overflow: hidden;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden { 
    display: none !important;
}

a {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
}

/* Icons */
i:hover {
    transition: all 0.3s ease;
}

.fa-grip-lines:hover {
    cursor: grab;
}

/* End of Icons */

/* Section Tag */

/* 
    Text area
*/
.textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-area {
    padding: 10px;
    resize: none;
    width: 100%;
    box-shadow: var(--textarea-box);
    font-size: 16px;
}

#copyTool {
    color: var(--keyman-blue);
    position: absolute;
    right: 10px;
    top: 110px;
    opacity: 50%;
}


#copyTool:hover {
    cursor: pointer;
    opacity: 100%;
}

/* Divider */
.divider-container i {
    opacity: 50%;
}

.divider-container i:hover {
    color: var(--keyman-blue);
    opacity: 100%;
}

/* Items at the middle of the divider */
.middle-divider {
    grid-area: middle;
    justify-self: center;
    height: fit-content;
}

.font-size-mobile {
    display: none;
}

/* Keyboard */
.keyboard-and-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.example-box {
    background-color: var(--keyman-blue);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgb(159, 159, 159);
}

.example-box p {
    margin: 10px;
}

.keyboard-container {
    width: calc(100% - 40%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-area {
    user-select: none;
    flex: 1;
    width: 100%;
    height: auto;
}

.desktop-keyboard {
    width: 100%;
}

.phone-keyboard {
    display: none;
}

/* End of Section Tag */

/* ================================
    Computer and Laptop screen sizes
================================ */
@media screen and (min-width: 940px) {
    .item, .section-items {
        margin: 5px
    }
    
    /* Divider */
    .divider-container {
        user-select: none;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 100%;
        align-items: center;
        grid-template-areas: 
        ". left middle right ."
        ;
        width: 100%;
        height: 15px;
    }
}

/* ================================
    Most Tablet to Phone sizes
================================ */ 

@media screen and (max-width: 940px) {
    /* Divider */
    .divider-container {
        user-select: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        align-items: center;
        grid-template-areas: 
        "left middle right"
        ;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Keyboard */
    .keyboard-container {
        width: 100%;
        height: 100%;
    }

    .desktop-keyboard {
        display: none;
    }

    .phone-keyboard {
        width: 100%;
        display: block;
    }
    
    .keyboard-download-box {
        display: none;
    }

    .spacing-purpose {
        display: none;
    }
}

/* ================================
    Smallest Phone sizes
================================ */ 
@media screen and (width < 565px) {
    .font-size-desktop {
        display: none;
    }

    .font-size-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 24px;
        opacity: 50%;
    }

    .font-size-mobile button {
        border: 0;
        background-color: #fff;
        border-style: none;
    }

    .font-size-mobile > *{
        margin: 0 5px;
    }
}

@media screen and (max-width: 400px) {
    .example-box p {
        font-size: 10px;
    }
}

/* Animation */

.textarea-animation {
    animation: highlight 3s;
}

@keyframes highlight {
    from {box-shadow:#2EADD3 0px 0px 0px 3px;}
    to {box-shadow: var(--textarea-box);}
}