/* Desktop browser CSS rules */

/*
======================
==Universal Elements==
======================
*/

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  width:100%;
  font-family: Cabin, Arial, Helvetica, sans-serif;
  color:#2D2C2C;
  margin:0px;
  }

a {
  text-decoration:none;
  color: #2EADD3;
  }

a:hover {
  text-decoration:underline;
  }

h3 {
  font-size:18px;
  }

p {
  font-size:13px;
  line-height:1.5em;
  }

header, #content, footer {
  /* width:960px; */
  margin:0px auto;
  clear: both;
  }

.box {
  -webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

/*
===================
==Header Elements==
===================
*/
header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  height: 70px;
}

header > div > img {
  width: 100%;
  display: block;
  height: 8px;
}

#headerBackground {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0px 0px;
  background-color: white;
}

#headerLeft {
  display: flex;
  flex-direction: row;
}

#headerLeft img {
  display: block; /* default (inline) display inserts an unwanted bottom border */
  margin: 0px 20px;
  height:50px;
  /*width: 660px;*/
  /*-webkit-border-radius: 0px 0px 8px 8px; -moz-border-radius: 0px 0px 8px 8px; border-radius: 0px 0px 8px 8px;*/
  }

#headerMiddle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}   

#headerMiddle div {
  margin: 15px;
}

#headerRight {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

#headerRight div {
  margin-right: 20px;
}

#headerRight div > * {
  margin-left: 10px;
}

#headerRight-beta {
  display: block;
  font-weight: bold;
  color: red;
  font-size: 16pt;
  padding: 20px 12px 0;
}

#headerRight-link {
  padding: 0 12px 0;
}

#headerBar {
  width: 100%;
}
/*
====================
==Content Elements==
====================
*/
#content {
  min-height:375px;
  }


/* KMW Main App */
#app {
  float:left;
  /*height:330px;*/
  width:710px;
  margin: 30px 15px 15px;
  }
#KeymanWebControl {
  width:710px;
  height: 35px;
  display:block;
  -webkit-border-radius: 8px 8px 0px 0px; -moz-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px;
  }

  #kmw_controls{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }

  #kmw_btn_osk{
    border-top-right-radius: 10px;
  }

  #kmw_controls_start{
    border-top-left-radius: 10px;
  }

#example,#help {
  margin:8px 10px;
  background-color:#95C6D6;
  border:1px solid #2EADD3;
  padding:2px;
  text-align:center;
  }

#example {
  visibility: hidden;
  width:685px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#example a{
  padding-left: 10px;
}

textarea {
  height:260px;
  width:554px;
  float:left;
  margin: 0px 10px 10px;
  color:black;
  font-size:16px;
  font-family:SindhiWeb,Verdana,GeezWeb,LaoWeb,TibetanWeb,MyanmarWeb,SinhalaWeb,TamilWeb,KhmerWeb,LatinWeb,OriyaWeb,EgyptianWeb !important;
  }

form {
  padding-right:10px;
  float:left;
  }
#messageContainer {
  float:left;
  width:80%;
  }

/* KMW App Buttons */

#instructions {
  margin:-1px 0px 2px;
  }

#buttons {
  float:right;
  padding-right:10px;
  }

#buttons div {
  width:120px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	background-color: #eeeeee;
  border: 1px solid #888888;
  margin: 0px 10px;
/*  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111;
  -moz-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111;
  -ms-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111;
  -o-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111;
  box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111;
  color: white;
  font: bold 14px Helvetica, Verdana, Arial, sans-serif;
  text-shadow: 0px -1px 1px #1E2D4D; */
  text-align:left;
  margin: 0 auto 6px;
  padding: 3px;
  padding-top: 9px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  }
#buttons div:disabled {
  cursor: default !important;
  color: #eeeeee !important;
 /* -webkit-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -moz-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -ms-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -o-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important; */
}

#buttons p{
  margin-left: 41px;
}

#facebook{
  background-image:url('../img/btn_fb_small.png');

}

#facebook.linksOff{
  background-image:url('../img/btn_fb_small_white.png');
}

#twitter{
  background-image:url('../img/btn_tw_small.png');

}

#twitter.linksOff{
  background-image:url('../img/btn_tw_small_white.png');
}

#search{
  background-image:url('../img/btn_google_small.png');

}

#search.linksOff{
  background-image:url('../img/btn_google_small_white.png');
}

#copy{
  background-image:url('../img/btn_copy_small.png');

}

#copy.linksOff{
  background-image:url('../img/btn_copy_small_white.png');
}

#font{
  display: none;
}

#mobile-font{
  display: none;
}

#font-size{
  float: right;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 0px 4px;
  display: table;
}

#font-small{
  font-size: 10pt;
  padding-top: 7px;
  text-align: left;
}

#font-large{
  font-size: 16pt;
  text-align: right;
}

.ui-slider-handle{
  width: 10px !important;
  height: 10px !important;
  cursor: pointer !important;
  outline: none !important;
}

#slider{
  height: 4px;
  width: 68px;
  float: left;
  position: relative;
  top: 14px;
}

.font-letter{
  float: left;
  width: 25px;
  text-align: center;
  display: table-cell;
}

#buttons div * {
  display:inline;
  }

#zclip-ZeroClipboardMovie_1  {
  background: none !important;
  width: 122px !important;
  height: 28px !important;
  border: none !important;
}

#zclip-ZeroClipboardMovie_1.linksOff{
  display: none;
}

#ZeroClipboardMovie_1{
  margin-left: -3px;
  margin-top: -9px;
}

div.links {
  cursor:pointer;
  }

div.linksOff {
  cursor:default !important;
  border: 1px solid #cccccc !important;
  }

div.linksOff * {
  color: gray;
  -moz-user-select:none;
  }

#tweetcount, #twitter span {
  color: #666;
  font: bold 0.8em Helvetica, Verdana, Arial, sans-serif;
  text-shadow: 0 1px 1px white;
  }


hr {
  margin: 6px 4px 6px 4px;
  }


/* Aside Elements */
aside {
  float:right;
  width:200px;
  margin-right:15px;
  }
aside h3 {
  background-color: rgba(181, 177, 176, 0.2);
  padding:6px 10px 7px;
  margin:0px;
  -webkit-border-radius: 8px 8px 0px 0px; -moz-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
aside > div {
  margin:30px 0px 0px;
  }
aside p {
  padding:10px;
  margin:0px;
  }
aside  #learn {
  font-size:13px;
  text-align:center;
  }

#socialshare > .fb-like {
  margin: 10px;
  width: 77px;
  height: 21px;
  display: inline-block;
  position: relative;
}

#socialshare #fb-share {
  font-size: 11px;
  font-family: Tahoma;
  border: solid 1px #dddddd;
  padding: 2px 6px 1px 24px;
  display: inline-block;
  margin: 10px 0 15px 0;
  color: black;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  background: #EEEEEE url('../img/facebook-16.png') 1px 1px no-repeat;
}

#socialshare {
  background: #eeeeff;
}

#socialshare h3 {
  background: #F0EFEF;
}

#socialshare > #twitter-share {
  margin: 0 0 0 10px;
  padding: 0 0 6px 0;
  height: 24px;
  font-size: 11px;
}

#socialshare > #twitter-share a {
  color: white;
}

#keymandesktop, #bookmarklet{
  display: none;
}

/*
===================
==Footer Elements==
===================
*/


.button {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #3e3e3e;
}

.footer{
    bottom: 0;
    left: 0;
    float: left;
    text-align: center;
    width: 100%;
    background: #A4A8AB;
    line-height: 1;
}

.footer .wrapper {
  width: auto;
  display: inline-block;
  margin: 0;
  text-align: left;
}

.footer-third{
    float: left;
    width: 320px;
    margin-left: 4px;
    margin-right: 4px;
}

.footer-third-title{
    margin-top: 30px;
    text-align: center;
    font-size: 18pt;
    font-weight: normal;
    color: #fff;
    margin-bottom: 25px;
}

.footer-third form{
    width: 320px;
}

.footer-third form input{
	-webkit-appearance: none;
	padding: 0px;
    float: left;
    height: 38px;
    width: 200px;
    padding-left: 10px;
    font-size: 14pt;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
}

.footer-third form input:focus{
    outline: 0;
}

#footer-mailchimp br {
  clear: both;
}

/*
 social-logos font from https://github.com/Automattic/social-logos, GPLv2
 */
@font-face {
  font-family: "social-logos";
  src: url("../../fonts/social-logos.ttf");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "social-logos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  speak: none;
  padding-right: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#footer-social {
  text-align: center;
}

#footer-social a {
  display: block;
  text-decoration: none;
  color: #666666;
  font-size: 14pt;
  padding: 4px;
}

#footer-social a:hover {
  color: #444444;
}

#privacy-policy {
  text-align: center;
  margin-top: 16px;
}

#privacy-policy a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 12pt;
}

#privacy-policy a:hover {
    color: #444444;
}

#version {
  color: #666666;
  font-size: 10pt;
  margin-top: 46px;
  text-align: center;
}

#mobile-footer {
  display: none;
}

#footer-social div {
  display: inline-block;
  text-align: left;
  margin-bottom: 24px;
}

#footer-social a#footer-community {
  padding-left: 27px;
}

.subscribe{
    width: 90px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #666666;
    box-shadow: none;
}

.subscribe:hover{
    background: #888888;
}

.subscribe h2{
	font-size: 16px;
	margin: 0px;
}

.sil-logo a, .sil-logo a:visited {
  color: white;
  text-decoration: none;
}

.sil-logo a:hover {
  color: white;
  text-decoration: underline;
}


#facebook, #twitter, #blog, #gplus{
	opacity: 1;
}

#facebook:hover, #twitter:hover, #blog:hover, #gplus:hover{
	opacity: 0.5;
}

.sil-logo {
  text-align: center;
  margin-top: 20px;
}

.sil-logo p{
    color: #fff;
    font-size: 12pt;
    margin-top: 10px;
}

/*
===================
==Extras==
===================
*/

#fblike{
position: absolute;
left: 50%;
margin-left: 320px;
  }

nav ul {
  list-style: none outside none;
  width:90%;
  margin:0px auto;
  padding:15px 0px;
  }

nav li {
  display:inline;
  padding:20px 39px;
  }

nav a {
  color:#eee;
  font-family:Tahoma;
  font-weight:bold;
  font-size:10.7px;
  }

.messageBox {
  -webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  background: #c4c4c4;
  position: fixed;
  left: 50%;
  top: 25%;
  z-index: 10002;
  margin-left: -250px;
  margin-top: -50px;
  width: 500px;
  height: 200px;
}

.messageBox div {
  width: 464px;
  height: 134px;
  left: 10px;
  top: 10px;
  padding: 8px;
  font-size: 13px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 3px;
  background: white;
}

.messageBox button {
  width:83px;
  position: absolute;
  right: 10px;
  bottom: 4px;
  background: #414141;
  border-top: 1px solid #383838;
  border-right: 1px solid #1F1F1F;
  border-bottom: 1px solid #151515;
  border-left: 1px solid #1F1F1F;
  -webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font: bold 12px Helvetica, Verdana, Arial, sans-serif;
  text-shadow: 0px -1px 1px #1E2D4D;
  text-align:center;
  margin: 0 auto 6px;
  padding: 3px;
  }

.messageBox button:disabled {
  cursor: default !important;
  color: gray !important;
  -webkit-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -moz-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -ms-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  -o-box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
  box-shadow: 0px 1px 0 #1D1D1D, 0 2px 0px #1F1F1F, 0 2px 4px 1px #111 !important;
}

.messageBox button:hover {
-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.messageBox button:active {
  -webkit-box-shadow: 0px 1px 0 #1D1D1D, 0 0px 0px #1F1F1F, 0 1px 4px 1px #111;
  -moz-box-shadow: 0px 1px 0 #1D1D1D, 0 0px 0px #1F1F1F, 0 1px 4px 1px #111;
  -ms-box-shadow: 0px 1px 0 #1D1D1D, 0 0px 0px #1F1F1F, 0 1px 4px 1px #111;
  -o-box-shadow: 0px 1px 0 #1D1D1D, 0 0px 0px #1F1F1F, 0 1px 4px 1px #111;
  box-shadow: 0px 1px 0 #1D1D1D, 0 0px 0px #1F1F1F, 0 1px 4px 1px #111;
}

.progressBox {
-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  background: #c4c4c4;
  position: fixed;
  left: 50%;
  top: 25%;
  margin-left: -200px;
  width: 400px;
  height: 54px;
}

.progressBox div {
  width: 364px;
  height: 18px;
  left: 10px;
  top: 10px;
  padding: 8px;
  background: url('../img/wait.gif') no-repeat 354px 8px white;
  font-size: 13px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 3px;
}

#twitter span {
  font-weight: normal;
  padding-right: 2px;
}

#twitter span.long {
  color: red;
}

#footer-logo{
  margin-top: 10px;
}

#content {width: 960px;}

/*
======================
==Keyboard Styling==
======================
*/

.desktop .kmw-osk-frame, .desktop .kmw-osk-inner-frame, .desktop .kmw-key-layer-group {
    background-color: #95C6D6 !important;
}

.desktop .kmw-key-default {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #EEEFF0), color-stop(100%, #D3D3D9));
    background-image: -moz-linear-gradient(#EEEFF0,#D3D3D9);
    background-color: #E0E0E4;
}

.desktop .kmw-key-touched {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #B5B5B5), color-stop(100%, #93969B));
    background-image: -moz-linear-gradient(#B5B5B5, #93969B) !important;
    background-color: #B5B5B5;
 }

.desktop .kmw-key-shift{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #DBDBDB), color-stop(100%, #C0C0C4));
    background-image: -moz-linear-gradient(#DBDBDB, #C0C0C4) !important;
    background-color: #DBDBDB;
}

 .desktop .kmw-key-shift-on {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #B5B5B5), color-stop(100%, #93969B));
    background-image: -moz-linear-gradient(#B5B5B5, #93969B) !important;
    background-color: #93969B;
 }

 .desktop  .kmw-key-shift .kmw-key-text, .desktop  .kmw-key-shift-on .kmw-key-text { color: gray; font-size: 0.9em !important; text-shadow: 0 1px 1px #fff;}
 .desktop  .kmw-key-shift .kmw-key-text, .desktop  .kmw-key-shift-on .kmw-key-text { top: 10%; }
 .desktop  .kmw-key-label { top: 5%; }
 .desktop  .kmw-key-label { left: 10%; }
 .desktop  .kmw-key-default .kmw-key-text { top: 25%; }
 .desktop  .kmw-footer, .desktop .kmw-title-bar { background: #2EADD3 !important; }
 .desktop  .kmw-title-bar div{min-height: 100%;}
 .desktop  .kmw-footer-caption a { color: white !important; }
 .kmw-osk-frame, .kmw-osk-inner-frame { border-color: #2EADD3 !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-width: 2px !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-radius: 6px !important; }
 .kmw-key-shift, .kmw-key-shift-on { border-color: #95C6D6 !important; }
 .kmw-key-default { border-width: 2px !important; }
 .kmw-key-default { border-radius: 6px !important; }
 .kmw-key-default { border-color: #95C6D6 !important; }
 .kmw-key-label { color: #2EADD3 !important; }
 .kmw-key-label { top: 10% !important; }
 .kmw-key-label { left: 15% !important; }
 .kmw-key-default {
    color: #313149;
 }

#keymandesktop p {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}

#keyman-desktop-download {
  display: block;
  text-align: center;
  margin-top: 8px;
}

#free-open-source {
  color: #606060;
  font-size: 8pt;
  font-weight: normal;
  display: block;
  text-align: center;

}

#close {
  float: right;
  cursor: pointer;
  position: relative;
  top: -10px;
}

#bookmarklet.hidden {
  display: none;
}

#bookmarklet div {
	text-align: center;
	margin: 16px 0 2px;
}

#bookmarklet p {
  font-size: 9px;
  text-align: justify;
}

#learn div {
  margin: 0;
  padding-bottom: 12px;
}

@media all and (min-width: 1320px) {
  ins.adsbygoogle {
      display: inline-block !important;
      height: 600px;
      position: absolute;
      right: 16px;
      top: 120px;
      width: 160px;
  }
}

.desktop .kmw-keyboard-dari_clra .kmw-key-default .kmw-key-text {
  top: -33%;
}
