/* 
=============
==Reset & Global CSS==
=============
*/
:root {
    --textarea-box: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    --textarea-width: 100vw;
    --textarea-height: calc(100vh - 55vh);
    --divider-height: 5vh;
    --keyboard-height: calc(97vh - (var(--textarea-height) + var(--divider-height)));
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --keyman-orange: #FC7200;
    --keyman-red: #B92034;
    --keyman-blue: #2EADD3;
    --tablet--kb-bg-color: #666;
    --mobile-font-size: 12px;
    --mobile-search-max-width: 100%;
}

* {
    box-sizing: border-box;
    letter-spacing: .05rem;
    font-weight: 400;
}

body {
    overflow: hidden;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
	}

a {
    margin:0 !important;
    padding:0 !important;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none !important;
}

article,aside,details,figcaption,figure,
section,header,footer,hgroup,menu,nav { 
    display:block;
	}

ins {
    background-color:#ff9;
    text-decoration:none;
	}

mark {
    background-color:#ff9;
    font-weight:bold;
	}

del {
    text-decoration: line-through;
	}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
	}

table {
    border-collapse:collapse;
    border-spacing:0;
	}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    padding:0;
    margin: 0;
}

button, input, select {
    vertical-align:middle;
}

/* === End of CSS reset rules === */

ins.adsbygoogle { 
  display: none !important; 
}

.hidden { 
    display: none !important;
}

/* Icons */
i:hover {
    transition: all 0.3s ease;
}
