<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
<IfModule mod_mime.c>
    AddType font/ttf .ttf
    AddType application/javascript .js 

    AddCharset UTF-8 .js
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
</IfModule>


# Keymanweb.com 2.0 rewrite rules for Keymanweb.com 1.0 /go/lang/kbd urls

# Rewrite /go/lang/kbd/app[?...] to /?kmwlang=lang,kmwkbd=kbd
RewriteRule "^go/([^/]+)/([^/]+)/([^?]+)(\?)?(.+)?$" "/index.php?kmwlang=$1&kmwkbd=Keyboard_$2&$5"

# Rewrite /go/lang/kbd[?...] to /?kmwlang=lang,kmwkbd=kbd
RewriteRule "^go/([^/]+)/([^?]+)(\?)?(.+)?$" "/index.php?kmwlang=$1&kmwkbd=Keyboard_$2&$4"

# Keymanweb.com 2.0 rewrite rules for Keymanweb.com 1.0 /lang/app.php urls

# Redirect /lang/app?kmwlang=lang,kmwkbd=kbd to /?kmwlang=lang,kmwkbd=kbd
RedirectMatch "^../[^?]+?kmwlang=(.+)&amp;kmwkbd=(.+)(&amp;(.+))?$" "/go/$1/$2"

# Redirect /lang/app to /
RedirectMatch "^../[^?]+$" "/"

# Redirect /mini/* to /
RedirectMatch "^mini/" "/"


