/* MacBook Pro 16" - 4 */

position: relative;
width: 1728px;
height: 1117px;
left: 106px;
top: 3807px;

background: #FFFFFF;


/* Rectangle 66 */

position: absolute;
width: 1728px;
height: 82px;
left: calc(50% - 1728px/2);
top: 0px;

background: #FFFFFF;


/* Group 202 */

position: absolute;
width: 388px;
height: 56px;
left: 122px;
top: 16px;



/* Rectangle 60 */

box-sizing: border-box;

position: absolute;
width: 388px;
height: 56px;
left: 122px;
top: 16px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 20px;


/* Click to search */

position: absolute;
width: 114px;
height: 19px;
left: 142px;
top: 35px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Line 32 */

position: absolute;
width: 36px;
height: 0px;
left: 406px;
top: 26px;

opacity: 0.5;
border: 1px solid #000000;
transform: rotate(90deg);


/* material-symbols:search-rounded */

position: absolute;
width: 24px;
height: 24px;
left: 418px;
top: 32px;

opacity: 0.5;


/* Vector */

position: absolute;
left: 12.5%;
right: 14.27%;
top: 12.5%;
bottom: 14.27%;

background: #000000;


/* image 26 */

position: absolute;
width: 1728px;
height: 6px;
left: 0px;
top: 84px;

background: url(image.png);


/* Search dropdown */

position: absolute;
width: 388px;
height: 630px;
left: 122px;
top: 74px;



/* Rectangle 64 */

box-sizing: border-box;

position: absolute;
width: 388px;
height: 630px;
left: 122px;
top: 74px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Keyboard card: unselected, expanded */

position: absolute;
width: 360px;
height: 145px;
left: 136px;
top: 139px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 145px;
left: 136px;
top: 139px;

background: #FFFFFF;
opacity: 0.7;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;


/* ic:round-plus */

position: absolute;
width: 24px;
height: 24px;
left: 143px;
top: 151px;



/* Name of a keyboard */

position: absolute;
width: 135px;
height: 17px;
left: 152px;
top: 155px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* This is an Amharic (amh, አማርኛ) language mnemonic input method which allows you to type letters as they sound. The keyboard works on Windows, Mac and Linux desktops as well as on mobile devices and online in web browsers. */

position: absolute;
width: 328px;
height: 52px;
left: 152px;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;

opacity: 0.7;


/* keyboard_id */

position: absolute;
width: 47px;
height: 10px;
left: 152px;
top: 176px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #000000;

opacity: 0.7;


/* 5465 monthly downloads */

position: absolute;
width: 98px;
height: 10px;
left: 215px;
top: 176px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #078510;

opacity: 0.7;


/* material-symbols:help-outline */

position: absolute;
width: 18px;
height: 18px;
left: 462px;
top: 155px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Group 209 */

position: absolute;
width: 49px;
height: 12px;
left: 152px;
top: 260px;



/* Line 33 */

position: absolute;
width: 48px;
height: 0px;
left: 153px;
top: 272px;

border: 1px solid #69B7D2;


/* Show less */

position: absolute;
width: 49px;
height: 12px;
left: 152px;
top: 260px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #69B7D2;



/* Group 210 */

position: absolute;
width: 19px;
height: 19px;
left: 439px;
top: 154px;



/* Ellipse 27 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 415px);
top: calc(50% - 16px/2 - 394.5px);

border: 1.5px solid #000000;


/* material-symbols:download-rounded */

position: absolute;
width: 19px;
height: 19px;
left: 439px;
top: 154px;



/* Vector */

position: absolute;
width: 8px;
height: 8px;
left: calc(50% - 8px/2 + 0.5px);
top: calc(50% - 8px/2 + 0.5px);

background: #000000;


/* Keyboard card: unselected, unexpanded */

position: absolute;
width: 360px;
height: 104px;
left: 137px;
top: 296px;



/* Rectangle 63 */

position: absolute;
width: 360px;
height: 104px;
left: 137px;
top: 296px;

background: #FFFFFF;
opacity: 0.7;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;


/* ic:round-plus */

position: absolute;
width: 24px;
height: 24px;
left: 144px;
top: 308px;



/* Name of a keyboard */

position: absolute;
width: 135px;
height: 17px;
left: 153px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* (language) */

position: absolute;
width: 52px;
height: 12px;
left: 296px;
top: 314px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* This is an Amharic (amh, አማርኛ) language mnemonic input method which allows you to type letters...see more */

position: absolute;
width: 328px;
height: 26px;
left: 153px;
top: 358px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;

opacity: 0.7;


/* keyboard_id */

position: absolute;
width: 47px;
height: 10px;
left: 153px;
top: 332px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #000000;

opacity: 0.7;


/* Ellipse 25 */

position: absolute;
width: 2px;
height: 2px;
left: 207px;
top: 336px;

background: #000000;
opacity: 0.7;


/* 5465 monthly downloads */

position: absolute;
width: 98px;
height: 10px;
left: 216px;
top: 332px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #078510;

opacity: 0.7;


/* Group 206 */

position: absolute;
width: 18px;
height: 18px;
left: 463px;
top: 312px;



/* material-symbols:help-outline */

position: absolute;
width: 18px;
height: 18px;
left: 463px;
top: 312px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Group 210 */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 311px;



/* Ellipse 27 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 414px);
top: calc(50% - 16px/2 - 237.5px);

border: 1.5px solid #000000;


/* material-symbols:download-rounded */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 311px;



/* Vector */

position: absolute;
width: 8px;
height: 8px;
left: calc(50% - 8px/2 + 0.5px);
top: calc(50% - 8px/2 + 0.5px);

background: #000000;


/* Keyboard card: selected, unexpanded */

position: absolute;
width: 360px;
height: 104px;
left: 137px;
top: 412px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 104px;
left: 137px;
top: 412px;

background: #FFFFFF;
border: 1px solid #FC7200;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Name of a keyboard */

position: absolute;
width: 135px;
height: 17px;
left: 153px;
top: 428px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FC7200;



/* This is an Amharic (amh, አማርኛ) language mnemonic input method which allows you to type letters...see more */

position: absolute;
width: 328px;
height: 26px;
left: 153px;
top: 474px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;

opacity: 0.5;


/* Keyboard actions */

position: absolute;
width: 41px;
height: 19px;
left: 440px;
top: 427px;



/* material-symbols:help-outline */

position: absolute;
width: 18px;
height: 18px;
left: 463px;
top: 428px;



/* Vector */

position: absolute;
height: 16px;
left: 5.56%;
right: 5.56%;
top: calc(50% - 16px/2);

background: #000000;


/* Group 210 */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 427px;



/* Ellipse 27 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 414px);
top: calc(50% - 16px/2 - 121.5px);

border: 1.5px solid #000000;


/* material-symbols:download-rounded */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 427px;



/* Vector */

position: absolute;
width: 8px;
height: 8px;
left: calc(50% - 8px/2 + 0.5px);
top: calc(50% - 8px/2 + 0.5px);

background: #000000;


/* Keyboard info */

position: absolute;
width: 159px;
height: 10px;
left: 153px;
top: 448px;



/* keyboard_id */

position: absolute;
width: 47px;
height: 10px;
left: 153px;
top: 448px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #000000;

opacity: 0.7;


/* Ellipse 26 */

position: absolute;
width: 2px;
height: 2px;
left: 205px;
top: 452px;

background: #000000;
opacity: 0.7;


/* 5465 monthly downloads */

position: absolute;
width: 98px;
height: 10px;
left: 214px;
top: 448px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #078510;

opacity: 0.7;


/* Selected Keyboard */

position: absolute;
width: 21px;
height: 21px;
left: 476px;
top: 495px;



/* Rectangle 68 */

position: absolute;
width: 21px;
height: 21px;
left: 476px;
top: 495px;

background: #FC7200;
border-radius: 20px 0px 0px 0px;


/* ep:select */

position: absolute;
width: 16px;
height: 16px;
left: 480px;
top: 499px;



/* Vector */

position: absolute;
width: 9px;
height: 6px;
left: calc(50% - 9px/2 + 0.5px);
top: calc(50% - 6px/2);

background: #FFFFFF;


/* Keyboard card: selected, unexpanded */

position: absolute;
width: 360px;
height: 153px;
left: 137px;
top: 527px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 153px;
left: 137px;
top: 527px;

background: #FFFFFF;
border: 1px solid #FC7200;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Group 209 */

position: absolute;
width: 49px;
height: 12px;
left: 153px;
top: 652px;



/* Line 33 */

position: absolute;
width: 48px;
height: 0px;
left: 154px;
top: 664px;

border: 1px solid #69B7D2;


/* Show less */

position: absolute;
width: 49px;
height: 12px;
left: 153px;
top: 652px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #69B7D2;



/* Name of a keyboard */

position: absolute;
width: 135px;
height: 17px;
left: 153px;
top: 545px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FC7200;



/* This is an Amharic (amh, አማርኛ) language mnemonic input method which allows you to type letters as they sound. The keyboard works on Windows, Mac and Linux desktops as well as on mobile devices and online in web browsers. */

position: absolute;
width: 328px;
height: 47px;
left: 153px;
top: 591px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;

opacity: 0.5;


/* Keyboard actions */

position: absolute;
width: 41px;
height: 19px;
left: 440px;
top: 544px;



/* material-symbols:help-outline */

position: absolute;
width: 18px;
height: 18px;
left: 463px;
top: 545px;



/* Vector */

position: absolute;
height: 16px;
left: 5.56%;
right: 5.56%;
top: calc(50% - 16px/2);

background: #000000;


/* Group 210 */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 544px;



/* Ellipse 27 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 442px;
top: 546px;

border: 1.5px solid #000000;


/* material-symbols:download-rounded */

position: absolute;
width: 19px;
height: 19px;
left: 440px;
top: 544px;



/* Vector */

position: absolute;
width: 8px;
height: 8px;
left: calc(50% - 8px/2 + 0.5px);
top: calc(50% - 8px/2 + 0.5px);

background: #000000;


/* Keyboard info */

position: absolute;
width: 159px;
height: 10px;
left: 153px;
top: 565px;



/* keyboard_id */

position: absolute;
width: 47px;
height: 10px;
left: 153px;
top: 565px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #000000;

opacity: 0.7;


/* Ellipse 26 */

position: absolute;
width: 2px;
height: 2px;
left: 205px;
top: 569px;

background: #000000;
opacity: 0.7;


/* 5465 monthly downloads */

position: absolute;
width: 98px;
height: 10px;
left: 214px;
top: 565px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #078510;

opacity: 0.7;


/* Selected Keyboard */

position: absolute;
width: 21px;
height: 21px;
left: 476px;
top: 659px;



/* Rectangle 68 */

position: absolute;
width: 21px;
height: 21px;
left: 476px;
top: 659px;

background: #FC7200;
border-radius: 20px 0px 0px 0px;


/* ep:select */

position: absolute;
width: 16px;
height: 16px;
left: 480px;
top: 663px;



/* Vector */

position: absolute;
width: 9px;
height: 6px;
left: calc(50% - 9px/2 + 0.5px);
top: calc(50% - 6px/2);

background: #FFFFFF;


/* Titles */

position: absolute;
width: 356px;
height: 34px;
left: 138px;
top: 94px;



/* Line 34 */

position: absolute;
width: 356px;
height: 0px;
left: 138px;
top: 113px;

opacity: 0.5;
border: 1px solid #000000;


/* Rectangle 65 */

box-sizing: border-box;

position: absolute;
width: 149px;
height: 34px;
left: 152px;
top: 94px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 20px;


/* Rectangle 66 */

position: absolute;
width: 115px;
height: 27px;
left: 365px;
top: 97px;

background: #FFFFFF;
border-radius: 20px;


/* Selectable keyboards */

position: absolute;
width: 103px;
height: 12px;
left: 372px;
top: 105px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Popular keyboards */

position: absolute;
width: 125px;
height: 17px;
left: 163px;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FC7200;



/* Selectable keyboard dropdown */

position: absolute;
width: 388px;
height: 703px;
left: 542px;
top: 75px;



/* Rectangle 64 */

box-sizing: border-box;

position: absolute;
width: 388px;
height: 703px;
left: 542px;
top: 75px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* Titles */

position: absolute;
width: 356px;
height: 27px;
left: 558px;
top: 97px;



/* Line 34 */

position: absolute;
width: 356px;
height: 0px;
left: 558px;
top: 114px;

opacity: 0.5;
border: 1px solid #000000;


/* Rectangle 65 */

position: absolute;
width: 101px;
height: 25px;
left: 572px;
top: 99px;

background: #FFFFFF;
border-radius: 20px;


/* Rectangle 66 */

position: absolute;
width: 168px;
height: 27px;
left: 732px;
top: 97px;

background: #FFFFFF;
border-radius: 20px;


/* Selectable keyboards */

position: absolute;
width: 145px;
height: 17px;
left: 745px;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #B92034;



/* Popular keyboards */

position: absolute;
width: 90px;
height: 12px;
left: 578px;
top: 106px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Selectable keyboard 2 */

position: absolute;
width: 360px;
height: 212px;
left: 556px;
top: 226px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 212px;
left: 556px;
top: 226px;

background: #FFFFFF;
opacity: 0.7;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;


/* Keyboard card: unselected, expanded */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 242px;



/* ic:round-plus */

position: absolute;
width: 21.97px;
height: 21.97px;
left: 573px;
top: 260px;



/* US English Table for IBM Arabic 238_L Basic */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 242px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;



/* x */

position: absolute;
width: 6px;
height: 12px;
left: 904px;
top: 227px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Line 36 */

position: absolute;
width: 328px;
height: 0px;
left: 572px;
top: 288px;

opacity: 0.75;
border: 1px solid #000000;


/* Platforms */

position: absolute;
width: 146px;
height: 32px;
left: 704px;
top: 348px;

background: url(Screenshot 2026-03-31 at 10.17.55 in the morning.png);


/* Group 211 */

position: absolute;
width: 24px;
height: 24px;
left: 787px;
top: 347px;



/* material-symbols:download-rounded */

position: absolute;
width: 24px;
height: 24px;
left: 787px;
top: 347px;



/* material-symbols:help-outline */

position: absolute;
width: 24px;
height: 24px;
left: 788px;
top: 377px;



/* Keyboard version */

position: absolute;
width: 100px;
height: 15px;
left: 581px;
top: 305px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* Last updated */

position: absolute;
width: 76px;
height: 15px;
left: 581px;
top: 332px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* Supported platform */

position: absolute;
width: 113px;
height: 15px;
left: 581px;
top: 359px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* 2.1.3 */

position: absolute;
width: 27px;
height: 15px;
left: 713px;
top: 305px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* 2025-02-24 18:07 */

position: absolute;
width: 107px;
height: 15px;
left: 713px;
top: 333px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 216 */

position: absolute;
width: 315px;
height: 28px;
left: calc(50% - 315px/2 - 127.5px);
top: 394px;



/* Group 212 */

position: absolute;
width: 90px;
height: 28px;
left: 579px;
top: 394px;

opacity: 0.75;


/* Help */

position: absolute;
width: 27px;
height: 15px;
left: 624px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;



/* material-symbols-light:keyboard-outline-rounded */

position: absolute;
width: 24px;
height: 24px;
left: 597px;
top: 396px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

background: #B92034;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 90px;
height: 28px;
left: 579px;
top: 394px;

border: 1px solid #B92034;
border-radius: 20px;


/* Group 213 */

position: absolute;
width: 90px;
height: 28px;
left: 683px;
top: 394px;



/* Source */

position: absolute;
width: 41px;
height: 15px;
left: 718px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;

opacity: 0.75;


/* Group 215 */

position: absolute;
width: 17px;
height: 17px;
left: 697px;
top: 400px;

opacity: 0.75;


/* hugeicons:source-code */

position: absolute;
left: 40.34%;
right: 58.68%;
top: 35.81%;
bottom: 62.67%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.66%;
top: 16.67%;
bottom: 16.67%;

border: 1.5px solid #B92034;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 90px;
height: 28px;
left: 683px;
top: 394px;

border: 1px solid #B92034;
border-radius: 20px;


/* Group 214 */

position: absolute;
width: 102px;
height: 28px;
left: 792px;
top: 394px;



/* Download */

position: absolute;
width: 59px;
height: 15px;
left: 821px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;

opacity: 0.75;


/* Vector */

position: absolute;
width: 9px;
height: 9px;
left: 806px;
top: 403px;

background: #B92034;
opacity: 0.75;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 102px;
height: 28px;
left: 792px;
top: 394px;

border: 1px solid #B92034;
border-radius: 20px;


/* charm:menu-kebab */

position: absolute;
width: 37px;
height: 37px;
left: 854px;
top: 238px;

transform: rotate(-90deg);


/* Group */

position: absolute;
width: 5.76px;
height: 28.18px;
left: calc(50% - 5.76px/2 - 11.51px);
top: calc(50% - 28.18px/2 + 11.21px);

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 11.11%;
right: 73.33%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 41.41%;
right: 43.03%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 71.72%;
right: 12.72%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Selectable keyboard 4 */

position: absolute;
width: 360px;
height: 212px;
left: 556px;
top: 540px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 212px;
left: 556px;
top: 540px;

background: #FFFFFF;
border: 1px solid #FC7200;
border-radius: 10px;


/* Keyboard card: unselected, expanded */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 556px;



/* ic:round-plus */

position: absolute;
width: 21.97px;
height: 21.97px;
left: 573px;
top: 574px;



/* US English Table for IBM Arabic 238_L Basic */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 556px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;



/* x */

position: absolute;
width: 6px;
height: 12px;
left: 904px;
top: 541px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Line 36 */

position: absolute;
width: 328px;
height: 0px;
left: 572px;
top: 602px;

opacity: 0.75;
border: 1px solid #000000;


/* Platforms */

position: absolute;
width: 146px;
height: 32px;
left: 704px;
top: 662px;

background: url(Screenshot 2026-03-31 at 10.17.55 in the morning.png);


/* Group 211 */

position: absolute;
width: 24px;
height: 24px;
left: 787px;
top: 661px;



/* material-symbols:download-rounded */

position: absolute;
width: 24px;
height: 24px;
left: 787px;
top: 661px;



/* material-symbols:help-outline */

position: absolute;
width: 24px;
height: 24px;
left: 788px;
top: 691px;



/* Keyboard version */

position: absolute;
width: 100px;
height: 15px;
left: 581px;
top: 619px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* Last updated */

position: absolute;
width: 76px;
height: 15px;
left: 581px;
top: 646px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* Supported platform */

position: absolute;
width: 113px;
height: 15px;
left: 581px;
top: 673px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* 2.1.3 */

position: absolute;
width: 27px;
height: 15px;
left: 713px;
top: 619px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* 2025-02-24 18:07 */

position: absolute;
width: 107px;
height: 15px;
left: 713px;
top: 647px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 216 */

position: absolute;
width: 315px;
height: 28px;
left: calc(50% - 315px/2 - 127.5px);
top: 708px;



/* Group 212 */

position: absolute;
width: 90px;
height: 28px;
left: 579px;
top: 708px;

opacity: 0.75;


/* Help */

position: absolute;
width: 27px;
height: 15px;
left: 624px;
top: 714px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;



/* material-symbols-light:keyboard-outline-rounded */

position: absolute;
width: 24px;
height: 24px;
left: 597px;
top: 710px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

background: #B92034;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 90px;
height: 28px;
left: 579px;
top: 708px;

border: 1px solid #B92034;
border-radius: 20px;


/* Group 213 */

position: absolute;
width: 90px;
height: 28px;
left: 683px;
top: 708px;



/* Source */

position: absolute;
width: 41px;
height: 15px;
left: 718px;
top: 714px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;

opacity: 0.75;


/* Group 215 */

position: absolute;
width: 17px;
height: 17px;
left: 697px;
top: 714px;

opacity: 0.75;


/* hugeicons:source-code */

position: absolute;
left: 40.34%;
right: 58.68%;
top: 63.92%;
bottom: 34.56%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.66%;
top: 16.67%;
bottom: 16.67%;

border: 1.5px solid #B92034;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 90px;
height: 28px;
left: 683px;
top: 708px;

border: 1px solid #B92034;
border-radius: 20px;


/* Group 214 */

position: absolute;
width: 102px;
height: 28px;
left: 792px;
top: 708px;



/* Download */

position: absolute;
width: 59px;
height: 15px;
left: 821px;
top: 714px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #B92034;

opacity: 0.75;


/* Vector */

position: absolute;
width: 9px;
height: 9px;
left: 806px;
top: 717px;

background: #B92034;
opacity: 0.75;


/* Rectangle 69 */

box-sizing: border-box;

position: absolute;
width: 102px;
height: 28px;
left: 792px;
top: 708px;

border: 1px solid #B92034;
border-radius: 20px;


/* charm:menu-kebab */

position: absolute;
width: 37px;
height: 37px;
left: 854px;
top: 552px;

transform: rotate(-90deg);


/* Group */

position: absolute;
width: 5.76px;
height: 28.18px;
left: calc(50% - 5.76px/2 - 11.51px);
top: calc(50% - 28.18px/2 + 11.21px);

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 11.11%;
right: 73.33%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 41.41%;
right: 43.03%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 71.72%;
right: 12.72%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Selected Keyboard */

position: absolute;
width: 21px;
height: 21px;
left: 895px;
top: 731px;



/* Rectangle 68 */

position: absolute;
width: 21px;
height: 21px;
left: 895px;
top: 731px;

background: #FC7200;
border-radius: 20px 0px 0px 0px;


/* ep:select */

position: absolute;
width: 16px;
height: 16px;
left: 899px;
top: 735px;



/* Vector */

position: absolute;
width: 9px;
height: 6px;
left: calc(50% - 9px/2 + 0.5px);
top: calc(50% - 6px/2);

background: #FFFFFF;


/* Selectable keyboard 1 */

position: absolute;
width: 360px;
height: 72px;
left: 556px;
top: 140px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 72px;
left: 556px;
top: 140px;

background: #FFFFFF;
opacity: 0.7;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;


/* Keyboard card: unselected, expanded */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 156px;



/* ic:round-plus */

position: absolute;
width: 21.97px;
height: 21.97px;
left: 573px;
top: 174px;



/* US English Table for IBM Arabic 238_L Basic */

position: absolute;
width: 278px;
height: 40px;
left: 572px;
top: 156px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;



/* x */

position: absolute;
width: 6px;
height: 12px;
left: 902px;
top: 146px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* charm:menu-kebab */

position: absolute;
width: 37px;
height: 37px;
left: 854px;
top: 152px;

transform: rotate(-90deg);


/* Group */

position: absolute;
width: 5.76px;
height: 28.18px;
left: calc(50% - 5.76px/2 - 11.51px);
top: calc(50% - 28.18px/2 + 11.21px);

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 11.11%;
right: 73.33%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 41.41%;
right: 43.03%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 71.72%;
right: 12.72%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Selectable keyboard 3 */

position: absolute;
width: 360px;
height: 72px;
left: 556px;
top: 454px;



/* Rectangle 63 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 72px;
left: 556px;
top: 454px;

background: #FFFFFF;
border: 1px solid #FC7200;
border-radius: 10px;


/* Keyboard card: unselected, expanded */

position: absolute;
width: 294px;
height: 40px;
left: 572px;
top: 470px;



/* ic:round-plus */

position: absolute;
width: 21.97px;
height: 21.97px;
left: 573px;
top: 488px;



/* US English Table for IBM Arabic 238_L Basic */

position: absolute;
width: 294px;
height: 40px;
left: 572px;
top: 470px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;



/* x */

position: absolute;
width: 6px;
height: 12px;
left: 902px;
top: 460px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #000000;



/* Selected Keyboard */

position: absolute;
width: 21px;
height: 21px;
left: 895px;
top: 505px;



/* Rectangle 68 */

position: absolute;
width: 21px;
height: 21px;
left: 895px;
top: 505px;

background: #FC7200;
border-radius: 20px 0px 0px 0px;


/* ep:select */

position: absolute;
width: 16px;
height: 16px;
left: 899px;
top: 509px;



/* Vector */

position: absolute;
width: 9px;
height: 6px;
left: calc(50% - 9px/2 + 0.5px);
top: calc(50% - 6px/2);

background: #FFFFFF;


/* charm:menu-kebab */

position: absolute;
width: 37px;
height: 37px;
left: 854px;
top: 466px;

transform: rotate(-90deg);


/* Group */

position: absolute;
width: 5.76px;
height: 28.18px;
left: calc(50% - 5.76px/2 - 11.51px);
top: calc(50% - 28.18px/2 + 11.21px);

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 11.11%;
right: 73.33%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 41.41%;
right: 43.03%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 71.72%;
right: 12.72%;
top: 42.22%;
bottom: 42.22%;

background: #000000;
transform: rotate(-90deg);


/* Group 208 */

position: absolute;
width: 83px;
height: 59px;
left: 15px;
top: 16px;



/* image 27 */

position: absolute;
width: 83px;
height: 21px;
left: 15px;
top: 54px;

background: url(image.png);


/* image 25 */

position: absolute;
width: 45px;
height: 43px;
left: 34px;
top: 16px;

background: url(image.png);


/* Frame 202 */

position: absolute;
width: 441px;
height: 1051px;
left: 1269px;
top: 57px;



/* Menu */

position: absolute;
width: 441px;
height: 1051px;
left: 0px;
top: 0px;



/* Rectangle 56 */

box-sizing: border-box;

position: absolute;
width: 441px;
height: 1051px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 10px;


/* Line 30 */

position: absolute;
width: 288px;
height: 0px;
left: calc(50% - 288px/2 + 0.5px);
top: 61px;

opacity: 0.5;
border: 1px solid #000000;


/* Menu */

position: absolute;
width: 64px;
height: 33px;
left: calc(50% - 64px/2 + 0.5px);
top: 18px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

color: #000000;



/* Keep in touch */

position: absolute;
width: 153px;
height: 33px;
left: calc(50% - 153px/2);
top: 760px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

color: #000000;



/* KEYBOARD HELP */

position: absolute;
width: 385px;
height: 349px;
left: 24px;
top: 144px;



/* Keyboard information */

position: absolute;
width: 124px;
height: 15px;
left: 24px;
top: 144px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* How to use card */

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 171px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 171px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Keyboard help */

position: absolute;
width: 109px;
height: 17px;
left: 80px;
top: 187px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Access the keyboard help documentation for keystrokes, description, and information of the selected keyboard. */

position: absolute;
width: 304.81px;
height: 45px;
left: 80.13px;
top: 212px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);



/* material-symbols:help */

position: absolute;
width: 32.04px;
height: 32.04px;
left: 40.04px;
top: 178.98px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FC7200;


/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 377px;
top: 183px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Download Keyman & Keyboard */

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 391px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 391px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Download Keyman & Keyboard */

position: absolute;
width: 264px;
height: 17px;
left: 80px;
top: 407px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Get this keyboard for your device. Keyman is completely free to use on all devices! */

position: absolute;
width: 304.81px;
height: 30px;
left: 80.13px;
top: 442px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);



/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 377px;
top: 403px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Group 199 */

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 401px;



/* Ellipse 8 */

box-sizing: border-box;

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 401px;

background: #FFFFFF;
border: 1px solid #FC7200;


/* image 23 */

position: absolute;
width: 24px;
height: 23px;
left: 45px;
top: 404px;

background: url(image.png);


/* Keyman help */

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 281px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 281px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Keyman help */

position: absolute;
width: 249px;
height: 17px;
left: 80px;
top: 297px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Get help on Keyman Products, all keyboard documentation and development area. */

position: absolute;
width: 294px;
height: 30px;
left: 80px;
top: 331px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);



/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 377px;
top: 293px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Group 199 */

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 291px;



/* Ellipse 8 */

box-sizing: border-box;

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 291px;

background: #FFFFFF;
border: 1px solid #FC7200;


/* image 23 */

position: absolute;
width: 24px;
height: 23px;
left: 45px;
top: 294px;

background: url(image.png);


/* DOCUMENTATION */

position: absolute;
width: 385px;
height: 239px;
left: 24px;
top: 507px;



/* Documentation */

position: absolute;
width: 88px;
height: 15px;
left: 24px;
top: 507px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.5;


/* Website Plugin */

position: absolute;
width: 377px;
height: 102px;
left: 31px;
top: 644px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 102px;
left: 31px;
top: 644px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Website plugin */

position: absolute;
width: 249px;
height: 17px;
left: 79px;
top: 660px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* KeymanWeb can be added to your website with just a few lines of code. */

position: absolute;
width: 294px;
height: 30px;
left: 79px;
top: 694px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);



/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 376px;
top: 656px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Group 199 */

position: absolute;
width: 28px;
height: 28px;
left: 41px;
top: 654px;



/* Ellipse 8 */

position: absolute;
width: 28px;
height: 28px;
left: 41px;
top: 654px;

background: #FC7200;


/* tabler:code */

position: absolute;
width: 24px;
height: 24px;
left: 43px;
top: 656px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #FFFFFF;


/* Bookmarklet */

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 534px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 102px;
left: 32px;
top: 534px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Bookmarklet */

position: absolute;
width: 249px;
height: 17px;
left: 80px;
top: 550px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* The KeymanWeb bookmarklet allows you to use a KeymanWeb keyboard on nearly any web page just by clicking the KeymanWeb bookmark. */

position: absolute;
width: 294px;
height: 45px;
left: 80px;
top: 575px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);



/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 377px;
top: 546px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Group 199 */

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 544px;



/* Ellipse 8 */

position: absolute;
width: 28px;
height: 28px;
left: 42px;
top: 544px;

background: #FC7200;


/* typcn:bookmark */

position: absolute;
width: 24px;
height: 24px;
left: 43px;
top: 546px;



/* Vector */

position: absolute;
left: 25%;
right: 16.67%;
top: 8.33%;
bottom: 12.36%;

background: #FFFFFF;


/* KeymanWeb version 18.0.251 */

position: absolute;
width: 167px;
height: 15px;
left: 77px;
top: 1002px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.75;


/* Privacy & Policy */

position: absolute;
width: 91px;
height: 15px;
left: 268px;
top: 1002px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;

opacity: 0.75;


/* Search instruction */

position: absolute;
width: 377px;
height: 50px;
left: 30px;
top: 85px;



/* Rectangle 59 */

box-sizing: border-box;

position: absolute;
width: 377px;
height: 50px;
left: 30px;
top: 85px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;


/* Show site help */

position: absolute;
width: 109px;
height: 17px;
left: 78px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* Insutrction icon */

position: absolute;
width: 28px;
height: 28px;
left: 39.04px;
top: 93.98px;



/* Ellipse 7 */

position: absolute;
width: 28px;
height: 28px;
left: 39.04px;
top: 93.98px;

background: #FC7200;


/* material-symbols:info-outline-rounded */

position: absolute;
width: 21.33px;
height: 21.33px;
left: calc(50% - 21.33px/2 - 167.46px);
top: calc(50% - 21.33px/2 - 417.52px);



/* Vector */

position: absolute;
left: 8.33%;
right: 8.34%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* iconamoon:arrow-right-2-light */

position: absolute;
width: 24.03px;
height: 24.03px;
left: 375px;
top: 97px;



/* Vector */

position: absolute;
left: 41.67%;
right: 37.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.5px solid #000000;


/* Line 30 */

position: absolute;
width: 288px;
height: 0px;
left: calc(50% - 288px/2 + 0.5px);
top: 803px;

opacity: 0.5;
border: 1px solid #000000;


/* Created by SIL Global */

position: absolute;
width: 145px;
height: 17px;
left: calc(50% - 145px/2);
top: 960px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;



/* image 24 */

position: absolute;
width: 133px;
height: 72px;
left: calc(50% - 133px/2);
top: 883px;

background: url(image.png);


/* Line 31 */

position: absolute;
width: 23px;
height: 0px;
left: calc(50% - 23px/2 + 47px);
top: 997px;

opacity: 0.75;
border: 1px solid #000000;
transform: rotate(90deg);


/* Frame 204 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

position: absolute;
width: 350px;
height: 32px;
left: calc(50% - 350px/2 + 0.5px);
top: 827px;



/* Facebook */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 15 */

position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;

background: #69B7D2;


/* ic:baseline-facebook */

position: absolute;
width: 24px;
height: 24px;
left: 4px;
top: 4px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.54%;

background: #FFFFFF;


/* Twitter/X */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 14 */

position: absolute;
width: 32px;
height: 32px;
left: 53px;
top: 0px;

background: #69B7D2;


/* prime:twitter */

position: absolute;
width: 14px;
height: 14px;
left: 62px;
top: 9px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* SVGG1Ot4cAD */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 4.69%;
bottom: 4.69%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 4.69%;
bottom: 4.69%;

background: #FFFFFF;


/* Mastodon */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 13 */

position: absolute;
width: 32px;
height: 32px;
left: 106px;
top: 0px;

background: #69B7D2;


/* Vector */

position: absolute;
left: 32.29%;
right: 62.38%;
top: 18.75%;
bottom: 18.69%;

background: #FFFFFF;


/* YouTube */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* YouTube */

position: absolute;
width: 32px;
height: 32px;
left: 159px;
top: 0px;



/* Ellipse 12 */

position: absolute;
width: 32px;
height: 32px;
left: 159px;
top: 0px;

background: #69B7D2;


/* line-md:youtube */

position: absolute;
width: 24px;
height: 24px;
left: 163px;
top: 4px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 20.83%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 41.67%;
right: 33.33%;
top: 35.42%;
bottom: 35.42%;

background: #FFFFFF;


/* Blog */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Blog */

position: absolute;
width: 32px;
height: 32px;
left: 212px;
top: 0px;



/* Ellipse 11 */

position: absolute;
width: 32px;
height: 32px;
left: 212px;
top: 0px;

background: #69B7D2;


/* grommet-icons:blog */

position: absolute;
width: 20px;
height: 20px;
left: 218px;
top: 6px;



/* Vector */

position: absolute;
left: 8.33%;
right: 4.17%;
top: 4.17%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* GitHub */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Ellipse 10 */

position: absolute;
width: 32px;
height: 32px;
left: 265px;
top: 0px;

background: #69B7D2;


/* mdi:github */

position: absolute;
width: 24px;
height: 24px;
left: 269px;
top: 4px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 10.35%;

background: #FFFFFF;


/* Keyman Community */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Ellipse 9 */

position: absolute;
width: 32px;
height: 32px;
left: 318px;
top: 0px;

background: #69B7D2;


/* ic:outline-contact-support */

position: absolute;
width: 24px;
height: 24px;
left: 322px;
top: 4px;



/* Vector */

position: absolute;
width: 19px;
height: 22.59px;
left: calc(50% - 19px/2 + 0.5px);
top: calc(50% - 22.59px/2 + 0.3px);

background: #FFFFFF;


/* quill:hamburger */

position: absolute;
width: 35px;
height: 35px;
left: 1675px;
top: 23px;



/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 25%;
bottom: 25%;

border: 1px solid #000000;


/* Ellipse 25 */

position: absolute;
width: 2px;
height: 2px;
left: 206px;
top: 180px;

background: #000000;
opacity: 0.7;


/* Selectable keyboards button */

position: absolute;
width: 56px;
height: 56px;
left: 454px;
top: 16px;



/* Rectangle 67 */

box-sizing: border-box;

position: absolute;
width: 56px;
height: 56px;
left: 454px;
top: 16px;

background: #E1E1E1;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 0px 20px 20px 0px;


/* boxicons:caret-down-filled */

position: absolute;
width: 24px;
height: 24px;
left: 470px;
top: 32px;



/* Vector */

position: absolute;
left: 24.58%;
right: 24.56%;
top: 33.33%;
bottom: 34.98%;

background: rgba(0, 0, 0, 0.5);
