<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" />
        <rewrite>
            <rules>
                <clear />
				
        
                <rule name="Redirect http://keymanweb.com and http://www.keymanweb.com to https://keymanweb.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        
                        <!-- Redirect only if on a live site - keyman.com or www.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^(keymanweb\.com|www\.keymanweb\.com)$" ignoreCase="true" />
                        
                        <!-- Redirect unless matching /.well-known/ for Let's Encrypt -->
                        <add input="{REQUEST_URI}" pattern="^/.well-known/(.*)$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://keymanweb.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                
                
                <rule name="Redirect https://www.keymanweb.com to https://keymanweb.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                        
                        <!-- Redirect only if on a live site - www.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^www\.keymanweb\.com$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://keymanweb.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
        
				<!-- Keymanweb.com 2.0 rewrite rules for Keymanweb.com 1.0 /go/lang/kbd urls -->
				
                <rule name="Rewrite /go/lang/kbd/app[?...] to /?kmwlang=lang,kmwkbd=kbd" stopProcessing="true">
                    <match url="^go/([^/]+)/([^/]+)/([^?]+)(\?)?(.+)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.php?kmwlang={R:1}&amp;kmwkbd=Keyboard_{R:2}&amp;{R:5}" appendQueryString="false" />
                </rule>
                <rule name="Rewrite /go/lang/kbd[?...] to /?kmwlang=lang,kmwkbd=kbd" stopProcessing="true">
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <match url="^go/([^/]+)/([^?]+)(\?)?(.+)?$" />
                    <action type="Rewrite" url="/index.php?kmwlang={R:1}&amp;kmwkbd=Keyboard_{R:2}&amp;{R:4}" appendQueryString="false" />
                </rule>
				
				<!-- Keymanweb.com 2.0 rewrite rules for Keymanweb.com 1.0 /lang/app.php urls -->
				
                <rule name="Redirect /lang/app?kmwlang=lang,kmwkbd=kbd to /?kmwlang=lang,kmwkbd=kbd" stopProcessing="true">
                    <match url="^../[^?]+?kmwlang=(.+)&amp;kmwkbd=(.+)(&amp;(.+))?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/go/{R:1}/{R:2}" appendQueryString="false" />
                </rule>
                
                <rule name="Redirect /lang/app to /" stopProcessing="true">
                    <match url="^../[^?]+$" />
                            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                            <action type="Redirect" url="/" appendQueryString="true" />
                </rule>

                <rule name="Redirect /mini/* to /" stopProcessing="true">
                    <match url="^mini/" />
                    <action type="Redirect" url="/" appendQueryString="false" />
                </rule>
            </rules>
            
<!--
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>                
-->
            
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
