
  @font-face {
    font-family: KhmerWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(KHMEROS0.eot);
  }

  @font-face {
    font-family: KhmerWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(KhmerOS.ttf)  format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_khmer10, .kmw-key-text {font-family: KhmerWeb !important}

