
  @font-face {
    font-family: NaskapiWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(bjcrus.ttf) format("truetype");
  } 

  @font-face {
    font-family: NaskapiWeb;
    font-style:  normal;
    font-weight: bold;
    src: url(bjcrusb.ttf) format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_nasuni, .kmw-key-text {font-family: NaskapiWeb !important}
 