  @font-face {
    font-family: YorubaWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(GentiumPlus-R.ttf) format("truetype");
  }
  
 .KeymanWeb_VK_Char_Keyboard_yorubabar, .kmw-key-text {font-family: YorubaWeb !important}
