
  @font-face {
    font-family: TamilWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(AAVARAN0.eot);
  }

  @font-face {
    font-family: TamilWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(aava1.ttf)  format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_ekwtamil99uni, .kmw-key-text{font-family: TamilWeb !important}
