
  @font-face {
    font-family: MyanmarWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(PADAUK0.eot);
  }

  @font-face {
    font-family: MyanmarWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(Padauk.ttf) format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_burmese02, .kmw-key-text {font-family: MyanmarWeb !important}
