
  @font-face {
    font-family: LaoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url('SAYSETT0.eot'); 
    src: url('SAYSETT0.eot?#iefix') format('embedded-opentype'), 
    url('saysettha_web.woff') format('woff'), 
    url('saysettha_OT.ttf') format('truetype');         
  }
/*
  @font-face {
    font-family: LaoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(Saysettha_OT.ttf)  format("truetype");
  }
*/
 .KeymanWeb_VK_Char_Keyboard_lao_2008_basic, .kmw-key-text {font-family: LaoWeb !important}


