
  @font-face {
    font-family: PashtoWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(LateefRegOT.ttf)  format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_pashtokeyboard, .kmw-key-text {font-family: PashtoWeb !important}

