
  @font-face {
    font-family: LatinWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(LUCIDAS0.eot);
  }

  @font-face {
    font-family: LatinWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(l_10646.ttf)  format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_naijanfd10, .kmw-key-text {font-family: LatinWeb !important}

