
  @font-face {
    font-family: SinhalaWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(KAPUTAU0.eot);
  }

  @font-face {
    font-family: SinhalaWeb;
    font-style:  normal;
    font-weight: normal;
    src: url(kaputaunicode.ttf)  format("truetype");
  }

 .KeymanWeb_VK_Char_Keyboard_helabasauni, .kmw-key-text {font-family: SinhalaWeb !important}
