@font-face {
  font-family: 'saysettha_web';
  src: url('/fonts/saysettha_web.eot');
  src: url('/fonts/saysettha_web.eot?#iefix') format('embedded-opentype'),
    url('/fonts/saysettha_web.ttf') format('truetype'),
    url('/fonts/saysettha_web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  } 
.laoweb {
  font-family: saysettha_web !important;
  }
